body{
    background-color: #212121;
}

a{
    text-decoration: none;
    color: #007bff;
}

.Line{
    border-bottom: 2px solid #00000034; /* #00000034 */
    width: 100%; 
}

.error{
    color:rgba(255, 0, 0, 0.5);
    font-family: 'Courier New', Courier, monospace;    
}

.body-transition {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.css-158k0wq-MuiButtonBase-root-MuiButton-root:hover{
    background-color: rgba(0, 0, 0, 0.100) !important;
}

.FeaturedOk {
    display: flex;
}
  
@keyframes fadeInOut {
    0% { transform: scale(1.7); opacity: 1; }
    50% { transform: scale(1.7); opacity: 0; }
    100% { transform: scale(1.7); opacity: 1; }
}

.initialSize {
    transform: scale(1.2); 
}

.FeaturedOk {
    animation: fadeInOut 2s infinite;
}


